src/main/mule/cloude1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8cc637b5-39ba-4821-afc2-abafa239a6ee" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="ccefa366-bcb5-4d8d-887c-91153f6781c5" file="dev.yaml" />
	<flow name="jenkins-with-muleFlow" doc:id="075c6e23-70c5-4670-894b-5a8f149cbd6f" >
		<http:listener doc:name="Listener" doc:id="aac36966-c488-419f-a122-7b09e350efea" config-ref="HTTP_Listener_config" path="/cloud1"/>
		<set-payload value='#[payload]' doc:name="Set Payload" doc:id="f28b4d97-b2d0-47f7-a3f8-98487623c53f" />
	</flow>
</mule>
